@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: hsl(24, 97%, 13%);
    --bgc-02: hwb(48 2% 5%);
    --txt-01: hwb(0 1% 99%);

}


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html,
body {
    height: 100%;
}

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: "owners-wide", sans-serif;
    line-height: 1;
    display: flex;
    flex-direction: column;
}


header img {
    width: 60px;

}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(88, 87, 87);
}



header a {
    margin-left: 50px;
}

header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

h1 {
    display: inline;
}

nav h1 {
    display: inline;
}

#new {
    margin-bottom: 3rem;
}


header input#burger {
    display: none;

}

.flexcontainer {

    text-align: center;
    padding-top: 15px;
    font-style: oblique;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}


header label[for="burger"] {
    position: absolute;
    z-index: 3;
    top: 0;
    right: 0;
    display: none;
    padding: 1rem 1ch;
    text-align: right;
    cursor: pointer;
}

header label[for="burger"] i {
    margin: 0;
    font-size: 1.25rem;
}


img {
    width: 100%;

}


.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 2rem;
    justify-items: center;

}

.grid-container img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    width: 100%;
}

#act li {
    color: white;
    padding-top: 10px;
}

#act h1 {
    color: goldenrod;
}

.act {
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}

.venue {
    color: aliceblue;
}

.date {
    color: aliceblue;
}

p {
    color: rgb(194, 147, 6);
}

#chart img {
    width: 100%;
    padding-left: 30%;
    padding-top: 10px;
    
}

footer {
    margin-top: auto;
}

footer .social {
    padding-top: 20px;
    background-color: #3d3d3d;
    padding-left: 45%;
    gap: 2em;


}

footer i {

    font-size: 1.6rem;
    color: #fefefe;
    align-items: center;
}

footer .onder {
    background-color: #666;
    padding-top: 2px;
    color: white;

}

a {
    text-decoration: none;
    color: black;
}


@media (width <=750px) {
    header {
        background-color: rgb(255, 255, 255);
    }

    #lineup .grid-container {
        grid-template-columns: 1fr;
    }

    header label[for="burger"] {
        display: block;
    }

    header nav ul {
        position: absolute;
        z-index: 3;
        top: 3rem;
        right: 0;
        display: none;
        padding-right: 1ch;
        background-color: var(--bgc-02);
        text-align: right;
        user-select: none;

    }

    header input#burger:checked+label[for="burger"]+nav ul {
        display: flex;
        flex-direction: column;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    

}

