@import url("https://use.typekit.net/hfi1kak.css");

:root {
    --bgc-01: hsl(24, 97%, 13%);
    --bgc-02: hwb(48 2% 5%);
    --txt-01: hsl(0, 0%, 1%);

}


* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

body {
    background-color: var(--bgc-01);
    color: var(--txt-01);
    font-family: "owners-wide", sans-serif;
    line-height: 1;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(88, 87, 87);
}

header img {
    width: 60px;
    
}

header a {
    margin-left: 50px;
}

header ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

h1 {
    display: inline;
}

nav h1 {
    display: inline;
}

#new {
    margin-bottom: 3rem;
}


.flexcontainer {

    text-align: center;
    padding-top: 15px;
    font-style: oblique;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

img {
    width: 100%;
    
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;

}

.grid-container img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
}

.act {
    color: rgb(0, 0, 0);
    background-color: aliceblue;
}

.venue {
    color: aliceblue;
}

.date {
    color: aliceblue;
}

p {
    color: rgb(194, 147, 6);
}





footer .social {
    padding-top: 20px;
    background-color: #3d3d3d;
    padding-left: 45%;
    gap: 2em;


}

footer i {

    font-size: 1.6rem;
    color: #fefefe;
    align-items: center;
}





footer .onder {
    background-color: #666;
    padding-top: 2px;
    color: white;

}

a {
    text-decoration: none;
    color: black;
}